[Unit]
Description=rtjam service for jack
After=network.target

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/home/pi/rtjam/jackrun.bash
WorkingDirectory=/home/pi/rtjam
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment="JACK_NO_AUDIO_RESERVATION=1"
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games

[Install]
WantedBy=multi-user.target

